@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* GRID */
  background-color: #f8fafc;
  background-image:
    linear-gradient(rgba(99, 102, 241, 0.12) 1px, transparent 1px),
    linear-gradient(90deg, rgba(99, 102, 241, 0.12) 1px, transparent 1px),
    linear-gradient(to right, rgba(248, 250, 252, 0.98), rgba(250, 247, 255, 0.92));

  background-size: 50px 50px, 50px 50px, 100% 100%;
}

/* glow suave igual SaaS */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background:
    radial-gradient(circle at 80% 40%, rgba(139, 92, 246, 0.12), transparent 35%),
    radial-gradient(circle at 30% 10%, rgba(99, 102, 241, 0.08), transparent 30%);

  animation: glowMove 10s ease-in-out infinite;
}

@keyframes glowMove {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20px, 20px);
  }
}